# Python - Ignore the virtual environment and cache
__pycache__/
venv/
.env

# Node - Ignore the massive library folders
node_modules/
.next/
dist/

# Go - Ignore the compiled binary files
bin/
services/gateway/gateway
services/processor/processor

# Misc - Ignore system junk
.DS_Store
Thumbs.db